<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <roleManager enabled="true" />
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <connectionStrings>
    <add name="MyDatabase" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\MyDatabase.mdf;Integrated Security=True;" providerName="System.Data.SqlClient"/>
   
 <remove name="LocalSqlServer"/>

<add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;Integrated Security=True;AttachDBFilename=|DataDirectory|aspnetdb.mdf"  providerName="System.Data.SqlClient"/>
 
  </connectionStrings>
  
  <system.web>
    <authentication mode="Forms">
      <forms name="Security" loginUrl="Login.aspx">
        <credentials passwordFormat="Clear">
          <user name="revgaurav" password="revlove" />
        </credentials>
      </forms>
    </authentication>
  <authorization>
    <deny users="?" />
    <allow roles="Admin" />
    <deny roles="Employees" />
  </authorization>
    <membership defaultProvider="MyMembershipProvider">
<providers>
<clear/>
<add
 type="System.Web.Security.SqlMembershipProvider"
name="MyMembershipProvider"
connectionStringName="LocalSqlServer"
 enablePasswordRetrieval="false"
enablePasswordReset="true"
requiresQuestionAndAnswer="false"
applicationName="MyApplicationName"
requiresUniqueEmail="true"
passwordFormat="Hashed"
maxInvalidPasswordAttempts="5"
minRequiredPasswordLength="7"
minRequiredNonalphanumericCharacters="0"
passwordAttemptWindow="10"/>
 
</providers>
</membership>
  
  </system.web>
</configuration>